{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {},
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}