/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */

/* a. General Styles
/* ------------------------------------------------------------------ */

$image_path: "../images";

body {
    background: #fff;
}

.loading {
    background: #191919 url(#{$image_path}/loader.gif) no-repeat center center;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
    height: 100%;
}

.bullet-point {
    font-size: 140%;
    vertical-align: middle;
}

/* ------------------------------------------------------------------ */

/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(#{$image_path}/background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .banner {
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        width: 85%;
        padding-bottom: 30px;
        text-align: center;
    }

    .banner-text {
        width: 100%;

        h1 {
            font: 90px/1.1em "opensans-bold", sans-serif;
            color: #fff;
            letter-spacing: -2px;
            margin: 0 auto 18px auto;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
        }

        h3 {
            font: 18px/1.9em "librebaskerville-regular", serif;
            color: #a8a8a8;
            margin: 0 auto;
            width: 70%;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

            span,
            a {
                color: #fff;
            }
        }

        hr {
            width: 60%;
            margin: 18px auto 24px auto;
            border-color: #2f2d2e;
            border-color: rgba(150, 150, 150, 0.1);
        }
    }

    .social {
        margin: 24px 0;
        padding: 0;
        font-size: 30px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);

        li {
            display: inline-block;
            margin: 0 15px;
            padding: 0;

            a {
                color: #fff;

                &:hover {
                    color: #11abb0;
                }
            }
        }
    }

    .scrolldown a {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -29px;
        color: #fff;
        display: block;
        height: 42px;
        width: 42px;
        font-size: 42px;
        line-height: 42px;
        color: #fff;
        border-radius: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #11abb0;
        }
    }
}

/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap {

    ul,
    li,
    a {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }

    font: 12px "opensans-bold",
    sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

/* nav-wrap */

.opaque {
    background-color: #333;
}

/* hide toggle button */

#nav-wrap>a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 48px;
    width: auto;
    /* center align the menu */
    text-align: center;

    li {
        position: relative;
        list-style: none;
        height: 48px;
        display: inline-block;

        a {
            /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
            display: inline-block;
            padding: 8px 13px;
            line-height: 32px;
            text-decoration: none;
            text-align: left;
            color: #fff;
            -webkit-transition: color 0.2s ease-in-out;
            -moz-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;

            &:active {
                background-color: transparent !important;
            }
        }

        &.current a {
            color: #f06000;
        }
    }
}

/* Links */

/* ------------------------------------------------------------------ */

/* c. About Section
/* ------------------------------------------------------------------ */

#about {
    background: #2b2b2b;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;

    a {
        color: #fff;

        &:visited {
            color: #fff;
        }

        &:hover,
        &:focus {
            color: #11abb0;
        }
    }

    h2 {
        font: 22px/30px "opensans-bold", sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }

    p {
        line-height: 30px;
        color: #7a7a7a;
    }

    .profile-pic {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }

    .contact-details {
        width: 41.66667%;
    }

    .download {
        width: 58.33333%;
        padding-top: 6px;
    }

    .main-col {
        padding-right: 5%;
    }

    .download .button {
        margin-top: 6px;
        background: #444;

        &:hover {
            background: #fff;
            color: #2b2b2b;
        }

        i {
            margin-right: 15px;
            font-size: 20px;
        }
    }
}

/* ------------------------------------------------------------------ */

/* d. Work Section
/* ------------------------------------------------------------------ */

#work {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 0px;
    overflow: hidden;

    a {
        color: #313131;

        &:visited {
            color: #313131;
        }

        &:hover,
        &:focus {
            color: #11abb0;
        }
    }

    h1 {
        font: 18px/24px "opensans-bold", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;

        span {
            border-bottom: 3px solid #11abb0;
            padding-bottom: 6px;
        }
    }

    h3 {
        font: 25px/30px "opensans-bold", sans-serif;
    }

    .header-col {
        padding-top: 9px;
    }

    .main-col {
        padding-right: 10%;
    }

    .info {
        font: 15px/24px "librebaskerville-regular", sans-serif;
        color: #6e7881;
        margin-bottom: 18px;
        margin-top: 9px;

        span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .info-summary,
    .date {
        font: 15px/24px "librebaskerville-regular", sans-serif;
        margin-top: 6px;
    }

    .point {
        margin: 0 0 10px 0;
    }
}

.education,
.work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e8e8;
}

/* ------------------------------------------------------------------ */

/* d. Education Section
/* ------------------------------------------------------------------ */

#education {
    background: #fff;
    padding-top: 72px;
    padding-bottom: 0px;
    overflow: hidden;

    a {
        color: #11abb0;

        &:visited {
            color: #11abb0;
        }

        &:hover,
        &:focus {
            color: #313131;
        }
    }

    h1 {
        font: 18px/24px "opensans-bold", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;

        span {
            border-bottom: 3px solid #11abb0;
            padding-bottom: 6px;
        }
    }

    h3 {
        font: 25px/30px "opensans-bold", sans-serif;
    }

    .header-col {
        padding-top: 9px;
    }

    .main-col {
        padding-right: 10%;
    }

    .info {
        font: 15px/24px "librebaskerville-regular", sans-serif;
        color: #6e7881;
        margin-bottom: 18px;
        margin-top: 9px;

        span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .info-summary,
    .date {
        font: 15px/24px "librebaskerville-regular", sans-serif;
        margin-top: 6px;
    }

    .point {
        margin: 0 0 10px 0;
    }
}

/* ------------------------------------------------------------------ */

/* d. Skill Section
/* ------------------------------------------------------------------ */

#skill {
    background: #fff;
    padding-top: 72px;
    padding-bottom: 20px;
    overflow: hidden;

    a {
        color: #11abb0;

        &:visited {
            color: #11abb0;
        }

        &:hover,
        &:focus {
            color: #313131;
        }
    }

    h1 {
        font: 18px/24px "opensans-bold", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;

        span {
            border-bottom: 3px solid #11abb0;
            padding-bottom: 6px;
        }
    }

    h3 {
        font: 25px/30px "opensans-bold", sans-serif;
    }

    .header-col {
        padding-top: 9px;
    }

    .main-col {
        padding-right: 10%;
    }

    .info {
        font: 16px/24px "librebaskerville-italic", serif;
        color: #6e7881;
        margin-bottom: 18px;
        margin-top: 9px;

        span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .date {
        font: 15px/24px "opensans-regular", sans-serif;
        margin-top: 6px;
    }

    .point {
        margin: 0 0 10px 0;
    }

    .inside {
        padding: 0 20px;
    }

    .skill-summary {
        margin: 0 0 10px 0;
    }
}

/*----------------------------------------------*/

/*	Skill Bars
/*----------------------------------------------*/

.bars {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;

    .skills {
        margin-top: 36px;
        list-style: none;
    }

    li {
        position: relative;
        margin-bottom: 60px;
        background: #ccc;
        height: 42px;
        border-radius: 3px;

        em {
            font: 15px "opensans-bold", sans-serif;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: normal;
            position: relative;
            top: 10px;
            left: 10px;
        }
    }
}

.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #313131;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
}

.percentage50 {
    width: 50%;
    animation: percentage50 2s ease;
    -moz-animation: percentage50 2s ease;
    -webkit-animation: percentage50 2s ease;
}

.percentage55 {
    width: 55%;
    animation: percentage55 2s ease;
    -moz-animation: percentage55 2s ease;
    -webkit-animation: percentage55 2s ease;
}

.percentage60 {
    width: 60%;
    animation: percentage60 2s ease;
    -moz-animation: percentage60 2s ease;
    -webkit-animation: percentage60 2s ease;
}

.percentage65 {
    width: 65%;
    animation: percentage65 2s ease;
    -moz-animation: percentage65 2s ease;
    -webkit-animation: percentage65 2s ease;
}

.percentage70 {
    width: 75%;
    animation: percentage70 2s ease;
    -moz-animation: percentage70 2s ease;
    -webkit-animation: percentage70 2s ease;
}

.percentage75 {
    width: 75%;
    animation: percentage75 2s ease;
    -moz-animation: percentage75 2s ease;
    -webkit-animation: percentage75 2s ease;
}

.percentage80 {
    width: 80%;
    animation: percentage80 2s ease;
    -moz-animation: percentage80 2s ease;
    -webkit-animation: percentage80 2s ease;
}

.percentage85 {
    width: 85%;
    animation: percentage85 2s ease;
    -moz-animation: percentage85 2s ease;
    -webkit-animation: percentage85 2s ease;
}

.percentage90 {
    width: 90%;
    animation: percentage90 2s ease;
    -moz-animation: percentage90 2s ease;
    -webkit-animation: percentage90 2s ease;
}

.percentage95 {
    width: 95%;
    animation: percentage95 2s ease;
    -moz-animation: percentage95 2s ease;
    -webkit-animation: percentage95 2s ease;
}

.percentage100 {
    width: 100%;
    animation: percentage100 2s ease;
    -moz-animation: percentage100 2s ease;
    -webkit-animation: percentage100 2s ease;
}

@keyframes percentage50 {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

@keyframes percentage55 {
    0% {
        width: 0px;
    }

    100% {
        width: 55%;
    }
}

@keyframes percentage60 {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@keyframes percentage65 {
    0% {
        width: 0px;
    }

    100% {
        width: 65%;
    }
}

@keyframes percentage70 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes percentage75 {
    0% {
        width: 0px;
    }

    100% {
        width: 75%;
    }
}

@keyframes percentage80 {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes percentage85 {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}

@keyframes percentage90 {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@keyframes percentage95 {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}

@keyframes percentage100 {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
    background: #2b2b2b;
    min-height: 200px;
    width: 100%;
    overflow: hidden;

    .text-container {
        padding-top: 96px;
        padding-bottom: 66px;
    }

    h1 {
        font: 18px/24px "opensans-bold", sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;

        span {
            display: none;
        }
    }

    .header-col {
        padding-top: 9px;

        h1 i {
            font-size: 72px;
        }
    }

    blockquote {
        margin: 0 0px 30px 0px;
        padding-left: 0;
        position: relative;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);

        &:before {
            content: none;
        }

        p {
            font-family: "librebaskerville-italic", serif;
            padding: 0;
            font-size: 18px;
            line-height: 48px;
            color: #fff;
        }

        cite {
            display: block;
            font-size: 12px;
            font-style: normal;
            line-height: 18px;
            color: #fff;

            &:before {
                content: "\2014 \0020";
            }

            a {
                color: #8b9798;
                border: none;

                &:visited {
                    color: #8b9798;
                    border: none;
                }
            }
        }
    }
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */

.flexslider a {

    &:active,
    &:focus {
        outline: none;
    }
}

/* Necessary Styles */

.flexslider {
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;

    .slides {
        zoom: 1;

        >li {
            position: relative;
            display: none;
            backface-visibility: hidden;
        }
    }
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

/* Suggested container for slide animation setups. Can replace this with your own */

.flex-container {
    zoom: 1;
    position: relative;
    width: 82%;
}

/* Clearfix for .slides */

.slides {
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides>li:first-child {
    display: block;
}

/* Slider Styles */

.slides {
    zoom: 1;

    >li {
        /*margin-right: 5px; */
        overflow: hidden;
    }
}

/* ------------------------------------------------------------------ */

#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}

/* ------------------------------------------------------------------ */

/* i. Footer
/* ------------------------------------------------------------------ */

footer {
    padding: 48px 0;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
    background: #1d1b1b;

    a {
        color: #525252;

        &:visited {
            color: #525252;
        }

        &:hover,
        &:focus {
            color: #11abb0;
        }
    }

    .copyright {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            line-height: 24px;
        }
    }
}

/* copyright */

.ie footer .copyright li {
    display: inline;
}

footer {
    .copyright li {
        &:before {
            content: "\2022";
            padding-left: 10px;
            padding-right: 10px;
            color: #095153;
        }

        &:first-child:before {
            display: none;
        }
    }

    .social-links {
        margin: 18px 0 30px 0;
        padding: 0;
        font-size: 30px;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            margin-left: 42px;
            color: #f06000;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

/* social links */

/* Go To Top Button */

#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;

    a {
        text-decoration: none;
        border: 0 none;
        display: block;
        width: 60px;
        height: 60px;
        background-color: #525252;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        color: #fff;
        font-size: 21px;
        line-height: 60px;
        border-radius: 100%;

        &:hover {
            background-color: #0f9095;
        }
    }
}