@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./styles/default.scss";
@import "./styles/layout.scss";
@import "./styles/media-queries.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

footer .stackshare-logo {
  opacity: 0.3;
}

.stackshare-logo {
  background: #fff url("/images/stackshare-logo.png") no-repeat center;
  width: 0.9em;
  height: 0.9em;
  background-size: contain;
  display: block;
  border-radius: 4px;

  &:hover {
    background: #11abb0 url("/images/stackshare-logo-hover.png") no-repeat
      center;
    background-size: contain;
    opacity: 1;
  }
}
