@import "./css/default.css";
@import "./css/layout.css";
@import "./css/magnific-popup.css";
@import "./css/media-queries.css";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.stackshare-logo {
    width: 0.9em;
}

footer .stackshare-logo {
    opacity: 0.3;
}