@import "./css/default.scss";
@import "./css/layout.scss";
@import "./css/media-queries.scss";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
    margin: 0;
    padding: 0;
}

footer .stackshare-logo {
    opacity: 0.3;
}

.stackshare-logo {
    background: #fff url("./images/stackshare-logo.png") no-repeat center;
    width: 0.9em;
    height: 0.9em;
    background-size: contain;
    display: block;
    border-radius: 4px;
}

html {
    scroll-behavior: smooth;
}